body {
  background: url(./assets/bg.png);
  height: 97vh;
  font-family: 'Megrim', cursive;
  font-size: 35px;
  display: flex;
  color: white
}

.human-side {
  text-align: center;
  width: 20%;
  justify-content: left;
  font-size: 35px;
  border-radius: 5%;
}

.computer-side {
  text-align: center;
  width: 20%;
  justify-content: right;
  font-size: 35px;
  border-radius: 5%;
}

.center {
  width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-input {
  padding-top: 10%;
  height: 90%;
  width: 80%;
}

h1 span {
  height: 20%;
  color: aliceblue;
  position: relative;
  display: inline-block;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

figure {
  border-top: 5%;
  border: 1px solid white;
  width: 30%;
  height: 30%;
  border-radius: 17%;
  font-size: 50%;
  cursor: pointer;
}

figure:hover {
  box-shadow: 10px 5px 20px;
  border: none
}

img {
  cursor: pointer;
  height: 40%;
  width: 25%;
}

#token {
height: 15%;
width: 40%;
}


#changeGame {
  margin-top: 10%;
  background: none;
  color: aliceblue;
  font-family: 'Megrim', cursive;
  font-size: 38px;
  height: 15%;
  width: 60%;
  cursor: pointer;
  border-radius: 20%;
}

#changeGame:hover {
  box-shadow: 4px 4px 8px;
  border: none
}

#fightScreen img {
  padding-top: 19%;
  justify-content: center;
  align-items: center;
  height: 45%;
  width: 39%;
}

.hidden {
  display: none;
}
